@model GreenPath.Models.VagasModel

@{
    ViewData["Title"] = "Create";
}
<style>
    form{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    #btn-vaga{
        margin-top: 25px;
    }
</style>

<h1>Publicar nova vaga</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group">
                <label asp-for="Cargo" class="control-label"></label>
                <input asp-for="Cargo" class="form-control" />
                <span asp-validation-for="Cargo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salario" class="control-label"></label>
                <input asp-for="Salario" class="form-control" />
                <span asp-validation-for="Salario" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Horas" class="control-label"></label>
                <input asp-for="Horas" class="form-control" placeholder="horas semanais"/>
                <span asp-validation-for="Horas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Fim" class="control-label">Fechamento da vaga</label>
                <input asp-for="Fim" class="form-control" />
                <span asp-validation-for="Fim" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <textarea asp-for="Descricao" class="form-control"></textarea>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Local" class="control-label"></label>
                <input asp-for="Local" class="form-control" />
                <span asp-validation-for="Local" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Publicar vaga" class="btn btn-success" id="btn-vaga" />
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
