@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">GreenPath</h1>
    <p> </p>
    <p>Uma comunidade de profissionais engajados com causas sustentáveis, proteção do meio-ambiente e praticas de responsabilidade social.</p>
    <p>Você esta pronto para entrar para este grupo?</p>
</div>

