@using GreenPath.ViewModels
@model RegisterViewModel

@{
    ViewData["Title"] = "Sign up";
}

<style>
    header,
    footer{
        display: none;
    }

    .btn{
        background-color: #198754;
        color:white;
        transition: all 200ms ease-in-out;
    }

    .btn:hover{
        scale: 1.2;
    }

    .container{
        width: 100vw !important;
        height: 100vh !important;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input-container{
        width: 400px;
        position: relative;
        padding: 30px;
        border-radius: 18px;
        background: linear-gradient(145deg, #f0f0f0, #e9e9e9);
        box-shadow:  5px 5px 9px #7d7d7d,
                    -5px -5px 9px #ffffff;
    }

    .form-group{
        position: relative;
        padding-top: 13px;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    input{
        width: 100%;
        padding: 5px 5px;
        display: inline-block;
        border: 0;
        border-bottom: 1px solid #16981a;
        background-color: transparent;
        outline: none;
        min-width: 180px;
        font-size: 16px;
        transition: all 300ms ease-out;
        border-radius: 0;
        color: black;
    }

    input:focus{
        border-bottom: 1px solid rgb(0, 255, 0);
    }

    label{
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        margin-bottom: 13px;
        transition: all 300ms ease-out;
    }

    input:focus + label,
    input:valid + label{
        font-size: 13px;
        margin-bottom: 50px;
        color: #16981a;
    }

     input:invalid + label{
        font-size: 13px;    
        margin-bottom: 50px;
        color: #ff0000;
    }

</style>

<div class="row container">
    <div class="col-md-6 input-container">
        <p>
            <img src="~/images/logo.png" class="d-block mx-auto mb-3" width="150" height="150" alt="Logo" />
            <h4 class="text-center">Trilhe seu novo caminho</h4>
        </p>

        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Desculpe!</b> - @TempData["Error"] </span>
            </div>
        }

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <input asp-for="EmailAddress" required />
                        <label asp-for="EmailAddress" class="control-label"></label>
                        <span asp-validation-for="EmailAddress" class="py-1 text-danger d-flex justify-content-center text-center"></span>
                    </div>
                    <div class="form-group my-3">
                        <input asp-for="Password" required />
                        <label asp-for="Password" class="control-label"></label>
                        <span asp-validation-for="Password" class="py-1 text-danger d-flex justify-content-center text-center"></span>
                    </div>
                    <div class="form-group my-3">
                        <input asp-for="ConfirmPassword" required />
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <span asp-validation-for="ConfirmPassword" 
                        class="py-1 text-danger d-flex justify-content-center text-center"></span>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-outline-success float-right" type="submit" value="Cadastrar" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
