<section class="d-flex justify-content-center">
    <form class=" w-25 d-flex flex-column justify-content-center">
        <select id="tipoUsuario" class="selectpicker p-2" data-live-search="true" onchange="mostrarCampos()">
            <option value="candidato">Candidato</option>
            <option value="empresa">Empresa</option>
        </select>

        <div id="camposCandidato">
            <!-- Campos do candidato -->
            <div>
                <input type="text" id="form12" class="form-control my-2" placeholder="Nome" />
                <input type="text" id="form12" class="form-control my-2" placeholder="Sobrenome" />
                <input type="text" id="form12" class="form-control my-2" placeholder="Área" />
            </div>
        </div>

        <div id="camposEmpresa" style="display: none;">
            <!-- Campos da empresa -->
            <div>
                <input type="text" id="form12" class="form-control my-2" placeholder="Razão Social" />
                <input type="text" id="form12" class="form-control my-2" placeholder="CNPJ" />
                <input type="text" id="form12" class="form-control my-2" placeholder="Área" />
                <input type="text" id="form12" class="form-control my-2" placeholder="Currículo" />
            </div>
        </div>

    </form>
</section>

<style>
    /* Global style */

body {
  padding: 50px;
}
.btn-tertiary {
  color: #555;
  padding: 0;
  line-height: 40px;
  width: 300px;
  margin: auto;
  display: block;
  border: 2px solid #555;
  &:hover, 
    &:focus {
      color: lighten(#555, 20%);
      border-color: lighten(#555, 20%);
    }
}

/* input file style */

.input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
  + .js-labelFile {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
    cursor: pointer;
    .icon:before {
      //font-awesome
      content: "\f093";
    }
    &.has-file {
      .icon:before {
        //font-awesome
        content: "\f00c";
        color: #5AAC7B;
      }
    }
  }
}
</style>

<script>
    
    function mostrarCampos() {
        var tipoUsuario = document.getElementById("tipoUsuario").value;
        var camposCandidato = document.getElementById("camposCandidato");
        var camposEmpresa = document.getElementById("camposEmpresa");

        if (tipoUsuario == "candidato") {
            camposCandidato.style.display = "block";
            camposEmpresa.style.display = "none";
        } else if (tipoUsuario == "empresa") {
            camposCandidato.style.display = "none";
            camposEmpresa.style.display = "block";
        }
    }
</script>
