@using GreenPath.ViewModels
@model WelcomeViewModel
@{
    ViewData["Title"] = "Bem-vind@";
}

    <style>
        .z-index-1 {
            z-index: 1;
        }
        .nav-item {
            background-image: linear-gradient(to right, green, green 50%, #000 50%);
            background-size: 200% 100%;
            background-position: -100%;
            display: inline-block;
            position: relative;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all 0.3s ease-in-out;
            text-decoration: none;
        }

        .navAccount {
            text-decoration: underline;
            text-decoration-color: green;
        }

        .nav-item:before {
            content: '';
            background: green;
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0px;
            height: 3px;
            transition: all 0.3s ease-in-out;
        }

        .nav-item:hover {
            background-position: 0;
        }

            .nav-item:hover::before {
                width: 100%;
            }
        .sobre {
            max-width: 50vw;
        }
    </style>


    

    <div class="container sobre d-block mx-auto">
        <img src="~/images/logo.png" class="d-block mx-auto mb-3" width="150" height="150" alt="Logo" />

        <h5>Registro realizado com sucesso.</h5>
        <p></p>
        <p></p>
        <p></p>

        <p>Bem Vindo ao GreenPath.</p>
        <p> </p>
        <p> </p>
        <p>Comece a sua nova jornada.</p>
        <p> </p>
        <div>
            <li class="nav-item">
                <a asp-area="" asp-controller="Empresa" asp-action="Index">  Buscar Empresas  </a>
            </li>
        </div>
        <div>
            <li class="nav-item">
                <a asp-area="" asp-controller="Vagas" asp-action="Index">  Buscar Vagas Abertas  </a>
            </li>
        </div>
        <div>
            <div class="nav-item">
                <a asp-area="" asp-controller="Home" asp-action="Privacy">  A nossa Política de Privacidade  </a>
            </div>
        </div>
        <p> </p>
    </div>
