@using GreenPath.ViewModels
@model WelcomeViewModel

<h3>Registro realizado com sucesso.</h3>
<p></p>


<h5>Siga os próximos passo para criar seu perfíl.</h5>

<p> </p>
<p> </p>
<h5>READ ME</h5>
<h6>Aqui continua a criar o Dashboard do cliente (usuário ou empresa) ou Pular para começar a usar a aplicação.</h6>

<h6>No modelo que eu pensei aqui anexaria a foto do perfil.</h6>
<h6>Mas, como vocês já colocaram no passo anteior a área pra anexar a foto, este código deve ser excluído.</h6>
<h6>Acho que para uma melhor Experiência do Usuário aqui poderia ter a opção de continuar a completar o perfíl, ou Pular e terminar depois, e já começar a navegar no site em vagas/se for cadastro PF ou empresas/se for cadastro PJ</h6>

<p> </p>
<p> </p>
<p> </p>
<section>

        <div class="container">
            <form class="row justify-content-around">

                <div class="col col-lg-9 tab-content">
                    <div id="first">
                        <div class="row align-items-center mb-5">
                            <div class="col-12 col-md-7">
                                <h6 class="title-decorative">Passo 01</h6>
                                <h3 class="h1">Curriculum Vitae</h3>
                                <span class="lead">Faça o Upload do seu Curriculum Vitae.</span>
                            </div>

                            <div class="media flex-wrap mb-0 align-items-center">
                                @*<img alt="Image" src="@imageU" class="avatar avatar-lg mb-3 mb-md-0" />*@
                                <div class="media-body">
                                    <form asp-action="EditProfile" enctype="multipart/form-data">
                                        <label asp-for="Image" class="custom-file mb-2" for="file2">
                                            <input asp-for="Image" type="file" id="file2" class="custom-file-input height-0" oninput="submitProfileImage();" />
                                            <span class="btn btn-primary"><i class="icon-upload-to-cloud">&nbsp;</i>Upload</span>
                                            <span asp-validation-for="Image" class="text-danger"></span>
                                            <button id="submit-image-button" type="submit" hidden></button>
                                        </label>
                                        <div>
                                            <small>Descrição dos formatos e características do arquivo anexado.</small>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
