@model HomeModel
@{
	ViewData["Title"] = "GreenPath";
}

<style>
	.z-index-1 {
		z-index: 1;
	}

	.carousel-inner {
		box-shadow: 6px 6px 11px #828282, -6px -6px 11px #ffffff;
	}

	.heroTitle {
		display: inline-block;
		position: relative;
		text-decoration: none;
		color: green;
		text-shadow: 2px 2px 2px green;
	}

		.heroTitle:hover {
			color: green;
		}

	.heroText {
		text-shadow: 2px 2px 2px black;
	}

	.lead {
		text-shadow: 0.1px 0.1px 0.1px black;
	}

	.container{
		max-width: none;
		overflow-x: hidden;
		margin: 0;
		padding: 0;
	}

	.heroImage {
		filter: blur(8px);
		-webkit-filter: blur(8px);
		width: 100%;
		height: 100vh;
		margin-bottom: 5%;
	}

	.containerDestaques {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin-block: 5%;
	}

	#carouselDestaques {
		margin-block: 20px;
		width: 60%;
	}

	.sobre{
		max-width: 50vw;
	}
</style>

<div class="containerHero container position-relative d-flex align-items-center justify-content-center flex-column">
	<div class="container position-absolute z-index-1">

		<div class="text-center" style="overflow: hidden">
			<h1 class="display-4 heroText" data-aos="fade-up" data-aos-duration="1000">Siga por um <a class="heroTitle"
					data-aos="zoom-in" data-aos-duration="1500">caminho</a> mais <a class="heroTitle" data-aos="zoom-in"
					data-aos-duration="1500">verde</a></h1>
		</div>

		<div class="text-center" style="margin-top: 15%">
			<p class="lead z-index-1">Contribua para um mundo melhor enquanto desenvolve sua carreira profissional</p>
			<a href="#sobrenos">
				<i class="fa-solid fa-chevron-down fa-bounce" style="color: #808080;"></i>
			</a>
		</div>

	</div>

	<img class="d-block heroImage" src="https://images.pexels.com/photos/886521/pexels-photo-886521.jpeg?auto=compress" />

</div>
@* 
<div class="containerDestaques">
	<h2 id="destaques">Vagas Destaques</h2>
	<div id="carouselDestaques" class="carousel slide" data-bs-ride="carousel">
		<ol class="carousel-indicators">
			<li data-bs-target="#carouselDestaques" data-bs-slide-to="0" class="active"></li>
			<li data-bs-target="#carouselDestaques" data-bs-slide-to="1"></li>
			<li data-bs-target="#carouselDestaques" data-bs-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img class="d-block w-100" src="https://placeimg.com/1080/500/animals" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="d-block w-100" src="https://placeimg.com/1080/500/arch" alt="Second slide">
			</div>
			<div class="carousel-item">
				<img class="d-block w-100" src="https://placeimg.com/1080/500/nature" alt="Third slide">
			</div>
		</div>
		<a class="carousel-control-prev" href="#carouselDestaques" role="button" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselDestaques" role="button" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div> *@

<div class="container sobre d-block mx-auto" id="sobrenos">
	<img src="~/images/logo.png" class="d-block mx-auto mb-3"  width="150" height="150" alt="Logo" />

	<p>
		Somos uma equipe comprometida com a promoção da sustentabilidade e da responsabilidade social empresarial. Nosso objetivo é facilitar o acesso dos profissionais do mercado de trabalho a empresas que atuam alinhadas com valores de ESG (Governança Ambiental, Social e Corporativa), responsabilidade social e ambiental.
	</p>

	<p>
		Acreditamos que é possível equilibrar a busca pelo lucro com um propósito maior, que inclui a preocupação com os impactossociais, ambientais e econômicos da empresa.
	</p>

	<p>
		Nosso site oferece funcionalidades que possibilitam o cadastramento somente de empresas que atendam aos requisitos mencionados e que bloqueiem ou excluam empresas que atuem na "contramão" do foco principal do nosso projeto. Além disso, nosso objetivo futuro é transformar nossa marca em um selo próprio de caracterização de empresas que seguem esses conceitos ativamente no mercado.
	</p>

	<p>
		Acreditamos que um ambiente como o nosso pode levar a uma maior lealdade dos funcionários, maior satisfação dos clientes e maior engajamento da comunidade, podendo, por sua vez, levar a um desempenho financeiro melhor e mais sustentável no longo prazo. Nossa equipe está comprometida em promover a conscientização e ações relevantes no cenário da responsabilidade socioambiental empresarial e fomentar cada vez mais o engajamento de empresas e sociedade nessa fórmula.
	</p>
</div>