@model HomeModel
@{
	ViewData["Title"] = "Home Page";
}


<style>
	.z-index-1 {
		z-index: 1;
	}

	.carousel-inner {
		box-shadow: 6px 6px 11px #828282, -6px -6px 11px #ffffff;
	}

	.heroTitle {
		display: inline-block;
		position: relative;
		padding: 5px 0;
		text-decoration: none;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 200% 100%;
		background-image: linear-gradient(to right, green, green 50%, #000 50%);
		background-position: -100%;
		animation: bg-animation 1s ease-in-out forwards;
	}

		.heroTitle:before {
			content: '';
			position: absolute;
			bottom: -3px;
			left: 0;
			width: 0px;
			height: 3px;
			background: green;
			animation: before-bg-animation 1s ease-in-out forwards;
		}

		.heroTitle:hover::before {
			width: 100%;
			transition: all 0.3s ease-in-out;
		}

		.heroTitle:hover {
			background-position: 0;
			transition: all 0.3s ease-in-out;
		}

	@@keyframes bg-animation {
		0% {
			background-position: 100%;
		}

		100% {
			background-position: -100%;
		}
	}

	@@keyframes before-bg-animation {
		0% {
			width: 0%;
		}

		100% {
			width: 100%;
		}
	}

	.container{
		max-width: none;
		overflow-x: hidden;
		margin: 0;
		padding: 0;
	}

</style>

<div class="container position-relative d-flex align-items-center justify-content-center">
	<div class="container my-5 position-absolute z-index-1">
		<div class="text-center" style="overflow: hidden">
			<h1 class="display-4" data-aos="fade-up">Siga por um caminho mais</h1>
			<a class="display-4 heroTitle" data-aos="fade-up" href="#">Verde</a>
		</div>
	</div>
	<div>

	</div>
	<img class="img-fluid mx-auto d-block" src="https://images.pexels.com/photos/886521/pexels-photo-886521.jpeg?auto=compress" />
	<p class="lead position-absolute z-index-1 bottom-0">Contribua para um mundo melhor enquanto desenvolve sua carreira profissional</p>
</div>





<div class="row container my-5 mb-5">
	<div class="row">
		<div class="col-lg-8">
			<h2>Destaques</h2>
			<div id="carouselDestaque" class="carousel carousel-vertical slide my-2" data-bs-ride="carousel">
				<div class="carousel-inner">

					<div class="carousel-item active">
						<div class="card">
							<img class="card-img-top" src="https://via.placeholder.com/300x200.png?text=Vaga+1" alt="Card image cap">
						</div>
					</div>

					<div class="carousel-item">
						<div class="card">
							<img class="card-img-top" src="https://via.placeholder.com/300x200.png?text=Vaga+2" alt="Card image cap">
						</div>
					</div>

					<div class="carousel-item">
						<div class="card">
							<img class="card-img-top" src="https://via.placeholder.com/300x200.png?text=Vaga+3" alt="Card image cap">
						</div>
					</div>
					<div class="carousel-item">
						<div class="card">
							<img class="card-img-top" src="https://via.placeholder.com/300x200.png?text=Vaga+4" alt="Card image cap">
						</div>
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselDestaque" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselDestaque" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
		<div class="col">
			<h2>Notícias</h2>
			<div id="carouselOne" class="carousel carousel-vertical slide my-2" data-bs-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="card">
							<img class="card-img-top" src="https://via.placeholder.com/300x200.png?text=Noticia+1" alt="Card image cap">
						</div>
					</div>
					<div class="carousel-item">
						<div class="card">
							<img class="card-img-top" src="https://via.placeholder.com/300x200.png?text=Noticia+2" alt="Card image cap">
						</div>
					</div>
					<div class="carousel-item">
						<div class="card">
							<img class="card-img-top" src="https://via.placeholder.com/300x200.png?text=Noticia+3" alt="Card image cap">
						</div>
					</div>
					<div class="carousel-item">
						<div class="card">
							<img class="card-img-top" src="https://via.placeholder.com/300x200.png?text=Noticia+4" alt="Card image cap">
						</div>
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselOne" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselOne" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>

			<div id="carouselTwo" class="carousel carousel-vertical slide my-2" data-bs-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="card">
							<img class="card-img-top" src="https://via.placeholder.com/300x200.png?text=Noticia+5" alt="Card image cap">
						</div>
					</div>
					<div class="carousel-item">
						<div class="card">
							<img class="card-img-top" src="https://via.placeholder.com/300x200.png?text=Noticia+6" alt="Card image cap">
						</div>
					</div>
					<div class="carousel-item">
						<div class="card">
							<img class="card-img-top" src="https://via.placeholder.com/300x200.png?text=Noticia+7" alt="Card image cap">
						</div>
					</div>
					<div class="carousel-item">
						<div class="card">
							<img class="card-img-top" src="https://via.placeholder.com/300x200.png?text=Noticia+8" alt="Card image cap">
						</div>
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselTwo" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselTwo" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
	</div>
</div>

<div class="container p-5">
	<h1 class="display-2 text-center" data-aos="fade-right">Siga por um caminho mais <a class="center-title" href="#">Verde</a></h1>
</div>