@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}


    <div class="container my-5">
        <div>
            <h1 class="display-4" data-aos="fade-up">Green Path</h1>
            <p class="lead"  data-aos="fade-right" data-aos-delay="200">Contribua para um mundo melhor enquanto desenvolve sua carreira profissional</p>
            <hr class="my-4">
        </div>
    </div>

<div class="row container my-5">
  <div class="row">
<div class="col-lg-8">
  <h2>Destques</h2>
    <div id="carouselDestaque" class="carousel carousel-vertical slide my-2">
        <div class="carousel-inner">

          <div class="carousel-item active">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Empresa 1</h5>
                    <a href="#" class="btn btn-success">Saiba Mais</a>
                </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="card">
              <img class="card-img-top" src="https://via.placeholder.com/300x200.png?text=Noticia+2" alt="Card image cap">
            </div>
          </div>

          <div class="carousel-item">
            <div class="card">
              <img class="card-img-top" src="https://via.placeholder.com/300x200.png?text=Noticia+3" alt="Card image cap">
            </div>
          </div>
          <div class="carousel-item">
            <div class="card">
              <img class="card-img-top" src="https://via.placeholder.com/300x200.png?text=Noticia+4" alt="Card image cap">
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselDestaque" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselDestaque" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col">
      <h2>Últimas Noticias</h2>
      <div id="carouselOne" class="carousel carousel-vertical slide my-2" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card">
              <img class="card-img-top" src="https://via.placeholder.com/300x200.png?text=Noticia+1" alt="Card image cap">
            </div>
          </div>
          <div class="carousel-item">
            <div class="card">
              <img class="card-img-top" src="https://via.placeholder.com/300x200.png?text=Noticia+2" alt="Card image cap">
            </div>
          </div>
          <div class="carousel-item">
            <div class="card">
              <img class="card-img-top" src="https://via.placeholder.com/300x200.png?text=Noticia+3" alt="Card image cap">
            </div>
          </div>
          <div class="carousel-item">
            <div class="card">
              <img class="card-img-top" src="https://via.placeholder.com/300x200.png?text=Noticia+4" alt="Card image cap">
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselOne" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselOne" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div id="carouselTwo" class="carousel carousel-vertical slide my-2" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card">
              <img class="card-img-top" src="https://via.placeholder.com/300x200.png?text=Noticia+5" alt="Card image cap">
            </div>
          </div>
          <div class="carousel-item">
            <div class="card">
              <img class="card-img-top" src="https://via.placeholder.com/300x200.png?text=Noticia+6" alt="Card image cap">
            </div>
          </div>
          <div class="carousel-item">
            <div class="card">
              <img class="card-img-top" src="https://via.placeholder.com/300x200.png?text=Noticia+7" alt="Card image cap">
            </div>
          </div>
          <div class="carousel-item">
            <div class="card">
              <img class="card-img-top" src="https://via.placeholder.com/300x200.png?text=Noticia+8" alt="Card image cap">
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselTwo" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselTwo" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
